<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <h3 class="title">Revenue</h3>
        <div class="row">
          <div
            class="col-md-6"
            id="revenue"
            style="width: 50%; height: 400px"
          ></div>
          <div class="col-md-6">
            <h3>Services</h3>
            <h2>$12,423</h2>
            <h3>Products</h3>
            <h2>$12,423</h2>
            <h3>Vouchers</h3>
            <h2>$12,423</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4"><h3 class="title">Services</h3></div>
      <div class="col-md-4"><h3 class="title">Products</h3></div>
    </div>
  </div>
</div>
